:root {
    --Laranja: #e09e3a;
    --LaranjaHover: #ec9108;
}

.bemvindo {
    width: 500px;
    color: #fff;
}

img {
    margin: 0;
    width: 200px;
    height: 200px;
}

.bemvindo h1 {
    margin: 1rem;
    font-size: 1.6em;
    text-align: ju  ;
}

button {
    background-color: var(--Laranja);
    font-size: 1.2em;
    box-shadow: 0 4px 10px rgba(163, 98, 24, 0.6);
    
}

button:hover {
    background-color: var(--LaranjaHover);
    box-shadow: 0 6px 15px rgba(168, 81, 9, 0.8);
}