:root {
    --input: #E5E8EB;
    --AzulCarinho: #E6F2FF;     
    --Botões: #5A799A;
    --Verde: #4CAF50;
    --Cinza: #6c6b6b;
    --CinzaClarinho: #cecece;
    --Laranja: #FF9800;
    --LinksHover: #40005C;
    --Links: #40005ca8;
    --gradiente: linear-gradient(#CFE2F8, #5A799A);
    --gradiente2: linear-gradient(150deg, #e5dcdc, #d2caca);
    --background: #5691cf;
    --EfeitoVidro: rgba(255, 255, 255, 0.466);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.funcionario {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    width: 100vw;
    font-size: .5em;
    gap: 55rem; 
    border-bottom: 1px solid #000;
}

.funcionario .funci {
    display: flex;
}

.funci img {
    width: 50px;
    height: 50px;
    margin: 0 1rem .2rem 0;
}

#colaborador {
    font-weight: bold;
}

.navbar {
    flex-grow: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar nav {
    margin: 0;
    padding: 0;
}

.navbar ul {
    display: flex;
    gap: 4rem; 
    list-style: none;
    padding: 0; 
    margin: 0;
}

.navbar ul a {
    text-decoration: none;
    color: #000; 
    text-align: center; 
    transition: color 0.3s;
}

.navbar ul a .icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px; 
    height: 300px;
    background: var(--EfeitoVidro);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
    position: relative;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
}

.navbar ul a .icone img {
    max-width: 70%;
    max-height: 70%;
    height: auto;
    width: auto;
    object-fit: contain;
    margin-bottom: 1rem; 
}

.navbar ul a .icone p {
    margin: 0; 
    font-size: 2rem; 
    font-weight: 600;
    color: #245a94;
    line-height: 1.2em;
    transition: color 0.3s;
}

.navbar ul a:hover .icone {
    background: #355f98;
    transform: scale(1.1);
}

.navbar ul a:hover {
    color: #3b4f6b; 
}

.navbar ul a:hover .icone p {
    color: #c0d4e2; 
}
