/* TODO: Esse é o css geral e deve ser importado em TODAS as páginas */
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --input: #E5E8EB;
    --AzulCarinho: #E6F2FF;     
    --Botões: #5A799A;
    --Verde: #4CAF50;
    --Cinza: #6c6b6b;
    --CinzaClarinho: #cecece;
    --Laranja: #FF9800;
    --LinksHover: #40005C;
    --gradiente: linear-gradient(#CFE2F8, #5A799A);
    --gradiente2: linear-gradient(150deg, #e5dcdc, #d2caca);
    --background: #5691cf;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

.container p {
    color: white;
    font-size: 2em;
}

button {
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}