button {
    cursor: pointer;
}

.Escondido {
    display: none;
}

.Aparece {
    display: block;
}

.info-resumo p {
    color: #6c6b6b;
    font-size: 1em;
    margin-bottom: 1.1rem;
}

#parcelasContainer {
    display: none;
    margin-top: 10px;
}

.desabilitado {
    cursor: not-allowed;
}

input[readonly] {
    background-color: #f0f0f0;
}

button img{
    width: 25px;
}

.campo img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 12rem;
}

table {
    margin-top: 1rem;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}


table td, th{
    border: 1px solid black;
}

.excluir{
    height: 30px;
    width: 80px;
    background: none; 
    border: none; 
    cursor: pointer;
}

.excluir img{
    height: 22px;
    width: 22px;
}

.CardDin nav a:hover{
    color: #288746;;
}